.mousePosition {
  position: absolute;
  z-index: 1;
  top: 83%;
}

.measure {
  position: absolute;
  z-index: 1;
  margin-left: 21em;
}

tr {
  cursor: pointer;
}

.selected {
  background-color: #0f0;
}

.zoomToExtent {
  position: absolute;
  z-index: 1;
  top: 15%;
  margin-left: 0.5em;
}
